.tableContainer {
  display: flex;
  flex-direction: column;
}

.description {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0 1px 0 #C04131;
  border: 1px solid #DD4B39;
  outline: none;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  background-image: linear-gradient(#DD4B39, #D14836);
}

.deleteButton:hover {
  border-color: #AF301F;
  background-image: linear-gradient(#DD4B39, #C53727);
}

.deleteButton:active {
  box-shadow: inset 0 1px 1px rgba ( 0 , 0 , 0 , 0.2 );
  background-image: linear-gradient(#D74736, #AD2719);
}